services:
  apache:
    build: .
    container_name: php-auth-system
    ports:
      - "8004:80"
    volumes:
      - .:/var/www/html/
    depends_on:
      - db
    command: >
      bash -c "
      composer install --no-scripts &&
      echo 'Alias /icons/ /var/www/html/src/icons/' > /etc/apache2/conf-available/icons-alias.conf &&
      a2enconf icons-alias &&
      apache2-foreground
      "

  db:
    image: mariadb:11
    container_name: php-auth-db
    restart: always
    environment:
      MARIADB_DATABASE: php_auth_db
      MARIADB_ROOT_PASSWORD: hackme123
      MARIADB_USER: user
      MARIADB_PASSWORD: password
    ports:
      - "3307:3306" # host:container
